---
import Card from './Components/Card.astro'

import { getI18N } from '@i18n/index'
const i18n = getI18N(Astro.currentLocale)
---

<section class="mt-20 lg:mt-[150px] px-5" id="project">
  <div class="flex flex-col gap-1 items-center">
    <h2 class="text-black dark:text-white font-['Geist Bold'] font-bold text-3xl text-center">{i18n.PROJECTS.TITLE}</h2>
    <p class="text-secondary-light-text dark:text-secondary-dark-text text-center text-pretty text-lg">{i18n.PROJECTS.DESCRIPTION}</p>
  </div>

  <div class="flex justify-center items-center md:items-stretch flex-col md:flex-row flex-wrap gap-5 mt-11 md:mt-14 mb-8">
    <Card
      title='Bucked Up'
      description={i18n.PROJECTS['BUCKEDUP-DESCRIPTION']}
      image='/buckedup.png'
      logo='/buckedup-logo.png'
      tech={['React.js', 'JavaScript', 'LESS', 'TypeScript']}
      link='https://www.buckedup.com'
    />

    <Card
      title='Blog DDV'
      description={i18n.PROJECTS['BLOG-DDV-DESCRIPTION']}
      image='/blog-ddv.png'
      logo='/logo-ddv.png'
      tech={['Next.js', 'JavaScript', 'Tailwind', 'MongoDB', 'Cloudinary', 'Vercel']}
      link='https://www.blogddv.com'
    />

    <Card
      title='B-Large'
      description={i18n.PROJECTS['B-LARGE-DESCRIPTION']}
      image='/b-large.png'
      logo='/b-large-logo.png'
      tech={['Next.js', 'JavaScript', 'SASS', 'TypeScript', 'MongoDB', 'Puppeteer', 'Vercel']}
      link='https://www.b-large.com'
    />
  </div>
</section>