---
import Presentation from '@components/Presentation.astro';
import Layout from '../layouts/Layout.astro';
import Projects from '@components/Projects/Projects.astro';
import Skills from '@components/Skills.astro';
import AboutMe from '@components/AboutMe.astro';
import Experience from '@components/Experience.astro';
import Education from '@components/Education.astro';
import TalkToMe from '@components/TalkToMe.astro'
---

<Layout>
	<main>
		<Presentation />
		<Projects />

		<div class="mt-24 lg:mt-[200px] mb-24 lg:mb-[200px] border-t border-l border-outline-light dark:border-outline-dark max-w-[90%] md:max-w-[1100px] mx-auto">
			<Skills />
			<AboutMe />
			<Experience />
		</div>

		<Education />
		<TalkToMe />
	</main>
</Layout>
