---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

import { getI18N } from '@i18n/index'
import PlanetBackground from '@components/PlanetBackground.astro'
import SocialMedia from '@components/SocialMedia.astro';
import MicrosoftClarity from '@components/MicrosoftClarity.astro';

interface Props {
	title: string;
}

const i18n = getI18N(Astro.currentLocale)
---

<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={i18n.DESCRIPTION} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{i18n.TITLE || 'Victor Andres Barilin'}</title>
		{import.meta.env.PROD && <MicrosoftClarity />}
	</head>
	<body class="bg-semi-white dark:bg-black overflow-x-hidden">
		<Header client:load />
		<slot />
		<Footer />
		<PlanetBackground />
		<SocialMedia />
	</body>
</html>
<style is:global>

	html {
		scroll-behavior: smooth;
	}
	@font-face {
		font-family: 'Geist Light';
		src: url('/fonts/Geist-Light.otf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Geist';
		src: url('/fonts/Geist-Regular.otf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Geist Medium';
		src: url('/fonts/Geist-Medium.otf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Geist Bold';
		src: url('/fonts/Geist-Bold.otf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Geist Black';
		src: url('/fonts/Geist-Black.otf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
</style>
